#Login {
	display: flex;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	height: 100%;

	text-align: center;
	background-color: black;
}

.login-banner {
	width: 500px;
	max-width: 90vw;

	margin-bottom: 40px;
	align-self: center;
}

.login-input {
	margin-top: 30px;
	padding: 4px;

	font-size: 1rem;

	outline: none;
	border: 2px solid white;
	border-radius: 4px;

	&:focus {
		border-color: #E50A12;
	}
}

.top {
	margin-top: 50px;
}

.login-button {
	width: 80px;
	height: 30px;

	margin-top: 30px;

	font-size: 0.90rem;
	background-color: white;
	
	outline: none;
	border: 2px solid white;
	border-radius: 4px;

	&:hover {
		border-color: #E50A12;
	}
	&:active {
		background-color: #E50A12;
		color: white;
	}
}

.login-error {
	margin: 0;
	line-height: 0;
	color: #E50A12;
	font-size: 1.2rem;
}

.login-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	min-height: 100vh;
	height: 100%;

	font-size: 1.4rem;
	color: white;
	background-color: black;
}