@import "./_functions.scss";
@import "./_variables.scss";
@import "./_breakpoints.scss";


#Search {
	min-height: 100vh;
	height: 100%;
	padding: 100px 0 50px;
	text-align: center;
}

.search-form {
	display: flex;
	justify-content: center;
}

.search-input {
	height: 36px;
	padding: 4px 12px;

	font-size: 1.2rem;

	outline: none;
	border: 2px solid grey;
	border-right: none;
	border-radius: 12px 0 0 12px;

	&:focus {
		border-color: #E50A12;
		& + .search-button { border-color: #E50A12; }
	}
}

.search-button {
	height: 36px;

	color: grey;
	background-color: white;

	outline: none;
	border: 2px solid grey;
	border-left: none;
	border-radius: 0 12px 12px 0;

	&:hover {
		color: #E50A12;
	}

	&:focus {
		outline: none;
	}

	&:active {
		color: white;
		background-color: #E50A12;
	}
}

.empty-search-text {
	margin: 10%;
	font-size: 2rem;
	color: #505050;

	@include media-breakpoint-only(xs) {
		font-size: 1rem;
	}
}

.search-results {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	grid-row-gap: 50px;
	margin: 50px 0;
	
	background-color: darkgrey;

	@include media-breakpoint-only(lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include media-breakpoint-only(md) {
		grid-template-columns: 1fr 1fr;
	}

	@include media-breakpoint-only(sm) {
		grid-template-columns: 1fr 1fr;
	}

	@include media-breakpoint-only(xs) {
		grid-template-columns: 1fr;
	}
}

.results-page-button {
	width: 100px;
	height: 30px;

	margin: 0 10px;
	padding: 0;
}

.movie-card {
	position: relative;
	cursor: pointer;

	// maintain aspect ratio
	width: 20vw; // 342px default
	height: 30vw; // 513px default

	&:hover .mc-title { opacity: 1; }

	@include media-breakpoint-only(lg) {
		width: 28vw;
		height: 42vw;
	}
	@include media-breakpoint-only(md) {
		width: 40vw;
		height: 60vw;
	}
	@include media-breakpoint-only(sm) {
		width: 40vw;
		height: 60vw;
	}
	@include media-breakpoint-only(xs) {
		width: 80vw;
		height: 120vw;
	}
}

.mc-title {
	position: absolute;
	bottom: 0;
	width: 100%;

	padding: 2px;
	text-align: center;
	box-sizing: border-box;

	font-size: 1.5rem;
	color: #fff;
	background-color: rgba(0,0,0, 0.80);

	opacity: 0;
	transition: opacity 0.20s ease 0s;
}

.mc-status {
	position: absolute;
	top: 0;
	right: 0;

	padding-left: 3px;
	box-sizing: border-box;

	background-color: rgba(0,0,0, 0.80);
	border-radius: 0 0 0 12px;

	font-size: 1.5rem;
}

.mc-svg  { margin: 0 5px;  }
.eye     { color: #00AEFF; }
.backlog { color: #fff; }
.heart   {
	font-size: 1.2rem;
	color: #E50A12;
}

.mc-poster {
	width: 100%;
	height: 100%;
}
